.heading{
    font-size: 23px;
    width: 100%;
    margin-top: 0px;
    box-shadow: 9px 6px 6px black;
    color: black;
}

.note{
    font-size: 15px;
    color: black;
}



.copy_right_footer{
    position: fixed;
    color: black;
    bottom: 0;
    width: 100%;
    background-color:royalblue;
    line-height: 3;
    text-align: center;
}


canvas {
    border: 5px solid black;
    border-radius: 20px;
    box-shadow:6px 6px 6px black;
}